nav {
    background-color: #dd8b12a0;
}

.nav-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}